html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;

    overflow: hidden;

    font-family: 'Muli', sans-serif;
}

$background-color: #000;

.main-container {
    display: flex;
    height: 100%;
    background-color: $background-color;


    .current-track__art {
        height: 100%;

        width: 60%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        margin-right: 1rem;

        box-shadow: inset -200px 0px 60px -130px $background-color;
    }

    .right-panel {
        width: 40%;
        display: flex;
        padding-right: 3rem;
        flex-direction: column;
        justify-content: space-between;
    }

    .current-track__desc {
        margin-top: 1.5rem;
        font-weight: bold;

        .track-name {
            color: #FFF;
            font-size: 32px;
        }

        .artist-name {
            color: grey;
            font-size: 18px;
        }
    }

    .playback-control {
        display: flex;
        color: #FFF;
        justify-content: space-around;
    }

    .volume-slider {
        margin-bottom: 1.5rem;
        
        input { width: 100%; }
    }
}

.devices-panel {
    .main-device-title {
        color: #FFF;
        font-size: 24px;
        font-weight: bold;
    }

    input[type="checkbox"] {
        display: none;

        & + label {
            display: flex;
            align-items: center;;
            color: #FFF;
            cursor: pointer;
            line-height: 2;
        }

        & + label::before {
            content: '';
            display: inline-block;
            margin-right: .3rem;
            border: solid 2px #FFF;
            width: 1em;
            height: 1em;
        }

        &:checked + label::before {
            background-color: #FFF;
        }
    }
}

.panel {
    display:flex;
    align-items: center;

    position: fixed;
    height: 100%;

    &.panel-right {
        right:0;
    }

    .panel-trigger {
        font-size: .6rem;
        display: flex;
        flex-direction: column;
        background-color: grey;
        padding: .5rem;
        i {
            margin: .1rem 0;
            color: #FFF;
        }
    }

    .panel-content {
        height: 100%;
        background-color: grey;
        padding: 1rem;
        min-width: 18rem;

        overflow: auto;
    }

    .panel-title {
        font-weight: bold;
        color: #FFF;
        font-size: 24px;
        margin: .7rem 0;
        text-transform: uppercase;
    }
}

.spotify-library {

    .playlist-item {
        color: #FFF;
        margin-bottom: .5rem;
        cursor: pointer;
    }
}